.form-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-table{
    color: cadetblue; 
}

body {
    background-color: #f2f2f2;
  }

  .container-login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }

  .list-student{
    box-shadow: 0 0 10px black;
  }

  .form-update{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-create{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-edit-user{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }
